@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); /*Подключение шрифта Google font Roboto*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #333333;
    font-size: 14px;
}
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1110px;
    padding: 0 15px;
}

.menu {
    background: #EFEFEF;
    position: relative;
}
.menu__ul, .nav__ul {
    display: flex;
    justify-content: center;
}
.menu__ul li {
    list-style: none;
    padding: 17px 15px;
}
.menu__ul li a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
}
.menu__ul li:hover {
    background-color: #C1BFBF;
}


.info {
    border-bottom: 1px solid #EFEFEF;
}
.info__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0;
}
.info__logo, .info__phone {
    display: flex;
    justify-content: center;
    align-items: center;
}
.info__logo img {
    margin-right: 20px;
}
.text__logo {
    color: #66C05D;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 0.1em;
}

.info__phone .btn {
    margin-left: 40px;
}
.text__phone {
    font-size: 16px;
}
.btn {
    border: 2px solid #66C05D;
    padding: 12px 25px;
    border-radius: 40px;
    font-size: 14px;
    color: #000000;
    text-decoration: none;
}
.btn:hover {
    background-color: #66C05D;
    color: #000000;
}

.nav__ul li {
    padding: 30px 20px;
    list-style: none;
}
.nav__ul li:hover {
    background-color: #C1BFBF;
}
.nav__ul li a {
    color: #000000;
    text-decoration: none;
}

.main__banner {
    background-image: url("../img/rectangle2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 165px;
    padding-bottom: 213px;
    color: #ffffff;
}
.main__banner__info h2 {
    font-weight: bold;
    font-size: 48px;
    margin-top: 192px;
}
.main__banner__info p {
    font-size: 14px;
    margin: 50px 0;
    line-height: 20px;
}
.btn__main {
    border: 2px solid #ffffff;
    color: #ffffff;
    padding: 12px 50px;
    font-size: 14px;
    letter-spacing: 0.05em;
    text-decoration: none;
}
.btn__main:hover {
    background-color: #ffffff;
    color: #000000;
}

.main__sale {
    position: relative;
    background: #EFEFEF;
    z-index: 3;
}
.sale__goods {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 70px;
}
.goods__img {
    margin-right: 35px;
}

.goods__items {
    display: flex;
    flex-wrap: wrap;
}
.goods__item {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #ffffff;
    margin-top: 16px;
    margin-bottom: 50px;
}
.goods__item img {
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}
.goods__item p {
    width: 180px;
    margin: 20px 30px;
    line-height: 20px;
    font-size: 14px;
    color: #333333;
}
.goods__item h4 {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 21px;
    letter-spacing: 0.05em;
}
.goods__item a {
    margin-bottom: 25px;
    color: #ffffff;
}
.btn__goods {
    background: #66C05D;
    border-radius: 30px;
    padding: 10px 40px;
    margin: 0 auto;
    transition: all .3s;
    border: 2px solid #66C05D;
    text-decoration: none;
}
.btn__goods:hover {
    background: #ffffff;
    border: 2px solid #66C05D;
    color: #000000;
}

.main__subscribe {
    background: #EFEFEF;
}

.subscribe__items {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
}
.subscribe__item {
    background-color: #66C05D;
    width: 500px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
}
.subscribe__item {
    margin-right: 15px;
    margin-left: 15px;
} 
.subscribe__item img {
    height: 106px;
}
.subscribe__one {
    color: #ffffff;
    margin: 35px 60px 35px 40px;
}
.subscribe__one h3 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 40px;
    margin-top: 0;
}
.subscribe__one p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 40px;
}
.subscribe_lottery {
    margin-bottom: 25px;
}
.subscribe_shops {
    margin-bottom: 35px;
}
.subscribe__one input {
    background: #ffffff;
    border-radius: 30px;
    border: none;
    padding: 10px 45px 10px 10px;
    font-size: 14px;
    color: #C4C4C4;
    outline: none;
}
.subscribe__two {
    margin-top: 27px;
}
.btn__subscribe {
    border: 2px solid #ffffff;
    color: #ffffff;
    padding: 10px 30px;
    font-size: 14px;
    letter-spacing: 0.05em;
    text-decoration: none;
}
.btn__subscribe:hover {
    background-color: #ffffff;
    color: #000000;
}

.footer {
    background-color: #ffffff;
}
.footer__header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer__icons {
    align-items: center;
    display: flex;
}
.footer__icon {
    margin-right: 20px;
    border: 2px solid #66C05D;
    box-sizing: border-box;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}
.footer__icon:hover {
    border: 2px solid #66C05D;
}
.footer__icon img {
    margin: 50% 0 0 50%;
    transform: translate(-50%, -50%);
}
.footer__text {
    font-size: 14px;
}
.footer__next {
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.footer__phone {
    font-size: 16px;
    margin-right: 30px;
}

.footer__sign {
    background-color: #EFEFEF;
}
.footer__signature {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 12px;
    color: #828282;
    padding: 25px 0;
} 